<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="text-align:center">Customer Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row" style="margin-left:20em">
    	<stats number=placeholder comments="Apply For Insurance" colour="green" type="pencil"></stats>
    	<stats number=placeholder comments="Application Status" colour="yellow" type="check"></stats>
    	<stats number=placeholder comments="View Insurance" colour="primary" type="file-text"></stats>
    </div>

</div>
