<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="text-align:center">Third Party Dashboard</h1>
        </div>
    </div>
    <div class="row" style="margin-left:20em">
    	<stats number=placeholder comments="New Applications" colour="red" type="file-text"></stats>
    	<stats number=placeholder comments="Pending Applications" colour="yellow" type="folder-open"></stats>
    	<stats number=placeholder comments="Finalized Applications" colour="green" type="check"></stats>
    </div>

</div>
